<!DOCTYPE html>
<html lang="en">
   <title>Dashboard</title>
<%- include('../partials/header.ejs') %>
  <body onload="pushNotify()">
    <%- include('../partials/navbar.ejs') %>
    <section style="background-color: #eee">
       
      <div class="container py-5">
        <div class="row">
          <div class="col">
            <nav
              aria-label="breadcrumb"
              class="bg-body-tertiary rounded-3 p-3 mb-4"
            >
              <ol class="breadcrumb mb-0">
                <% if (user && user.username == "Admin") { %>
                <li class="breadcrumb-item mx-auto fs-1" aria-current="page">
                  Admin Dashboard
                </li>
                <% } else { %>
                   <li class="breadcrumb-item mx-auto fs-1" aria-current="page">
                  <%= user.username %> Dashboard
                </li>
                 <% } %>
              </ol>
            </nav>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                  alt="avatar"
                  class="rounded-circle img-fluid"
                  style="width: 150px"
                />
                <h5 class="my-3"><%= user.username %></h5>

                
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.username %></p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.email %></p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.phoneNumber %></p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.address %></p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Joined On</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.createdAt %></p>
                  </div>
                </div>
              </div>
            </div>
            <% if (user && user.username == "Admin") { %>
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 mb-md-0 text-center">
                  <div class="card-body">
                    <p class="mb-4">
                      <span class="text-primary font-italic me-1"
                        ><a href="/services" class="btn btn-primary"
                          >All Services</a
                        ></span
                      >
                      
                      <a href="/services/usersList" class="btn btn-primary"
                        >All Users</a
                      >
                    </p>
                    
                     <% } else { %>
                      <a href='/services/otherUsers/<%= user._id %>' class="btn btn-primary"
                          >My Services</a
                        ></span
                      >
                      <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Toast Notification -->
 <script>
Toastify({
  text: "<%= messages %>",
  className: "success",
  style: {
    background: "#157347",
    color:"white"
  }
}).showToast();


 </script>
  </body>
</html>