<!DOCTYPE html>
<html lang="en">
 <title>Edit Service</title>
<%- include('../partials/header.ejs') %>
<body style="height: 100vh;">
    <%- include('../partials/navbar.ejs') %>
  <div class="container" style="margin-top: -80px;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="display: flex; justify-content: center; margin-top: 40px;">Edit Service</h1>
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div id="first">
         <form action="/services/<%= services._id %>?_method=PUT" method="POST">
            <div class="form-group">
              <label for="nameOfService">Name</label>
              <input type="text" name="nameOfService" class="form-control" id="nameOfService" 
                placeholder="Enter Your New Service Name" value="<%= services.nameOfService %>">
            </div>
            <br>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="text" name="price" class="form-control" id="price"
                placeholder="Enter The Instruction" value="<%= services.price %>">
            </div>
            <div class="form-group">
              <label for="orderStatus">Status</label>
              <select name="orderStatus" id="orderStatus" class="form-select text-center">
                <option selected value="<%= services.orderStatus %>"><%= services.orderStatus %></option>
                <option value="In Process">In Process</option>
                <option value="Rejected">Rejected</option>
                <option value="Completed">Completed</option>
              </select>
              <!-- <input type="text" name="orderStatus" class="form-control" id="orderStatus"
                 value="<%= services.orderStatus %>"> -->
            </div>
            <div class="col-md-14 text-center">
              <button type="submit" style="font-size: 25px;" class=" btn btn-block mybtn btn-primary tx-tfm" onclick="return confirm('Are you sure you want to edit this item?');">Update</button>
            </div>
            <br>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</body>
</html>
